<div class="container">

	<h1>Hello <%= current_user.email %></h1>
	<h2>Locations you are renting out to students</h2>

	<div class="row">
		<% @user_lots.each do |lot| %>
			<div class="card" style="width: 18rem; margin: 30px;">
				<img class="card-img-top" src="/images/parking.jpg">
					<div class="card-body">
						<h5 class="card-title"><%= lot.location %></h5>
						<p class="card-text">full address goes here</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Charging: <%= lot.cost_per_lot %></li>
						<li class="list-group-item">spots available: <%= lot.lots_available %></li>
					</ul>
					<div class="card-body">
						<a href="/parking/dashboard/<%= lot.id %>" class="card-link">More info</a>
						<a href="/parking/dashboard/<%= lot.id %>/delete" class="card-link">remove</a>
					</div>
			</div>
		<% end %>
	</div>

</div>
