<div class="card">
  <img class="card-img-top" src="/images/parking.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Location: <%= @spot.location %></h5>
    <p class="card-text">
      Spots left: <%= @spot.lots_available %><br>
      Cost: $ <%= @spot.cost_per_lot %><br>
      id: <%= @spot.id %> <br>
      owner: <%= @spot.user.email %>
    </p>
    <a href="/parking/<%= @spot.id %>" class="btn btn-primary">View</a>
    <a href="/parking/<%= @spot.id %>/rent" class="btn btn-primary">Rent</a>
  </div>
</div>
