<h1> Parking Spots </h1>
<div class="row">
  <% @spots.each do |spot| %>
    <div class="card" style="width: 18rem; margin: 30px;">
      <!--<img class="card-img-top" src="images/parking.jpg" alt="Card image cap">-->
      <div id="mapid<%= spot.id %>" style="height: 180px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">Location: <%= spot.location %></h5>
        <p class="card-text">
          Spots left: <%= spot.lots_available %><br>
          Cost: $ <%= spot.cost_per_lot %><br>
          id: <%= spot.id %> <br>
          owner: <%= spot.user.email %>
        </p>
        <a href="/parking/<%=spot.id %>" class="btn btn-primary">View</a>
        <a href="/parking/<%=spot.id %>/rent" class="btn btn-primary">Rent</a>
      </div>
    </div>
    <script type="text/javascript">
      var mymap = L.map('mapid<%= spot.id %>').setView([51.505, -0.09], 13);
      var marker = L.marker([51.5, -0.09]).addTo(mymap);
    </script>
    <br>
  <% end %>
</div>
